<section class="pt-16">
  <div class="bg-gray-900 py-24 text-center text-white">
    <h2 class="mb-4 text-4xl font-bold drop-shadow-[2px_2px_0_#7836cf]">
      ¿Trabajamos juntos?
    </h2>
    <p class="mb-6 text-lg text-neutral-300 font-semibold">
      Estoy disponible para nuevas oportunidades. ¡Hablemos!
    </p>
  </div>
</section>
