---
import MiFoto from "../../assets/img/MiFoto.png";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Mariana"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Mariana Durán Piñeros, </span>
      pero me gusta que me llamen <span class="text-primary">Mariana.</span>
    </h2>

    <p class="mt-4">
      Soy estudiante de <span class="text-primary font-semibold"
        >Ingeniería de Sistemas </span
      > en la Universidad
      <span class="text-primary font-semibold">El bosque.</span>
      Por el momento, me inclino a aprender desarrollo de software y la organización estructurada de la información.
      Disfruto programar, especialmente en Java, y comprender cómo funcionan los
      programas web.
    </p>
    <p class="mt-2">
      Mi interés por la <span class="text-primary font-semibold"
        >tecnología</span> me ha llevado a cursar esta carrera y considero que, 
      especialmete este curso de <span class="text-primary font-semibold">Bases de Datos 1</span>
      ,será fundamental en mi vida profesional, ya que todo sistema real necesita
      almacenar y estructurar información correctamente.
    </p>
    <p class="mt-2">
      Siempre estoy comprometida con un <span class="text-primary font-semibold">constante crecimiento</span
      > y
      <span class="text-primary font-semibold">mejora</span> en mis habilidades,
      buscando adaptarme a los nuevos
      <span class="text-primary font-semibold">avances tecnológicos</span> y superar las expectativas
      que la 
      <span class="text-primary font-semibold">Universidad El bosque</span> y <span
        class="text-primary font-semibold">yo</span> misma me propongo.
    </p>
    <!-- Video -->
    <div class="mt-6 w-full max-w-xl overflow-hidden rounded-2xl shadow-lg">
      <iframe
        class="aspect-video w-full"
        src="https://www.youtube.com/embed/VIDEO_NO_LISTADO_FAKE"
        title="Presentación - Mariana"
        allowfullscreen>
      </iframe>
    </div>

  </div>
</div>